/**general**/
  /**font**/
  html {
    font-family: "Oswald, sans-serif";
    font-size: 16px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "Oswald", sans-serif;
    color: #4D4D4D;
  }

  h1 {
    font-weight: bold;
    font-size: 3rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  h3 {
    font-size: 1rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-weight: bold;
    font-size: 1.75rem;
  }

  h6 {
    font-weight: 300;
    font-size: 0.75rem;
  }

  p, a {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    color: #4D4D4D;
  }

  /**structure**/
  #container {
    max-width: 1366px;
    margin: auto;
  }

  .primary {
    width: 60%;
    margin: 2rem 0 0 1.5rem;
  }

  .image {
    margin: 0 1.5rem 2rem 0;
  }

  .primary .image img {
    max-width: 100%;
  }

  .secondary {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /**color**/
  .gray {
    background-color: #D6D6D6;
  }

/**header**/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  margin: 0 1.5rem;
}

  /**logo**/
  #logo {
    display: flex;
    align-items: center;
    height: 2rem;
  }

  #logo span {
    font-family: "Hind", sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
  }

  #logo span:nth-child(2n+1) {
    color: #888888;
    font-weight: 500;
  }

  /**navigation**/
  nav a {
    text-decoration: none;
    margin-left: 1rem;
  }

/**banner**/
#bannerSection {
  display: flex;
}

#bannerSection .secondary {
}

#bannerSection .secondary h1,
#bannerSection .secondary h2 {
  margin: 1rem 0;
  max-width: 70%;
}

#bannerSection .secondary h3 {
  margin: 1rem 0;
  padding: 0.5rem 0;
  background-color: #4D4D4D;
  text-align: center;
  max-width: 70%;
}

#bannerSection .secondary h3 a {
  color: white;
  text-decoration: none;
  text-align: center;
}

/**about**/
#aboutSection {
  display: flex;
}

#aboutSection p {
  margin: 1.5rem 0;
}
