/**general**/
  /**font**/
  html {
    font-family: "Oswald, sans-serif";
    font-size: 16px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "Oswald", sans-serif;
    color: #4D4D4D;
  }

  h1 {
    font-weight: bold;
    font-size: 3rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  h3 {
    font-size: 1rem;
  }

  h4 {
    font-size: 1.25rem;
    font-weight: bold;
  }

  h5 {
    font-weight: bold;
    font-size: 1.75rem;
  }

  h6 {
    font-weight: 300;
    font-size: 0.75rem;
  }

  p, a {
    font-family: "Open Sans", sans-serif;
    font-size: 0.875rem;
    line-height: 1.2rem;
    color: #4D4D4D;
  }

  /**structure**/
    /**media**/
    img {
      max-width: 100%;
    }

    video {
      max-width: 100%;
    }

    /**container**/
    #container {
      max-width: 1366px;
      margin: auto;
    }

    /**primary**/
    .primary {
      width: 60%;
      padding: 2rem 1.5rem;
    }

    /**secondary**/
    .secondary {
      width: 40%;
      padding: 2rem 0;
      display: flex;
      flex-direction: column;
    }

    .articleCaption {
      display: flex;
      padding: 1rem;
    }

    .articleCaption:nth-child(2n+1) {
      background-color: #D6D6D6;
    }

    .secondaryImage {
      width: 35%;
    }

    .articleSecondary {
      width: 65%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 1rem;
    }

    /**section header**/
    .sectionHeader {
      text-align: center;
    }

  /**color**/
  .gray {
    background-color: #D6D6D6;
  }

/**header**/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  margin: 0 1.5rem;
}

  /**logo**/
  #logo {
    display: flex;
    align-items: center;
    height: 2rem;
  }

  #logo span {
    font-family: "Hind", sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
  }

  #logo span:nth-child(2n+1) {
    color: #888888;
    font-weight: 500;
  }

  /**navigation**/
  nav a {
    text-decoration: none;
    margin-left: 1rem;
  }

/**banner**/
#bannerSection {
  display: flex;
}

#centerFlexColumn {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#bannerSection #centerFlexColumn h1,
#bannerSection #centerFlexColumn h2 {
  margin: 1rem 0;
  max-width: 75%;
}

#bannerSection #centerFlexColumn h3 {
  margin: 1rem 0;
  padding: 0.5rem 0;
  background-color: #4D4D4D;
  text-align: center;
  max-width: 70%;
}

#bannerSection #centerFlexColumn h3 a {
  color: white;
  text-decoration: none;
  text-align: center;
}

/**about**/
#aboutSection {
  display: flex;
  justify-content: space-around;
}

#aboutSection .primary img {
  margin-bottom: 2rem;
}

#aboutSection p {
  margin: 1.5rem 0;
}

#aboutSection .articleSecondary p {
  margin: 0.5rem 0;
}

/**learning**/
#learningSection {
  padding: 2rem 3.5rem 1rem 3.5rem;
}

#learningSection .sectionHeader {
  padding-bottom: 1rem;
}

#learningBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.learning {
  width: 30%;
  margin: 1rem 1rem;
  background-color: white;
}

.learningText {
  margin: 1rem 1rem 1.5rem 1rem;
}

.learningText p:first-of-type {
  margin: 0.5rem 0;
}

/**thesis**/
#thesisSection {
  padding: 2rem 1.5rem;
}

#thesisSection .sectionHeader {
  padding-bottom: 2rem;
}

#thesisBox {
  display: flex;
  justify-content: center;
}

#thesisBox .primary,
#thesisBox .secondary {
  padding-top: 0;
}

#thesisBox .primary h4 {
  margin: 1.5rem 0 0.5rem 0;
}

#thesisBox p {
  margin-top: 0.5rem;
}
